workflows/voice-agent-workflow.json.json
{
  "name": "voice agent 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "86eb2547-e39b-411a-9a88-7cf784b5d5ff",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4e4aa36c-b6ac-4eed-aa40-af61ee07b0bb",
      "name": "Webhook",
      "webhookId": "86eb2547-e39b-411a-9a88-7cf784b5d5ff"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Question }}",
        "options": {
          "systemMessage": "You are an assistant helping guests with reservations and information for the Burj Khalifa Residences & Hotel. Your goal is to provide accurate, helpful, and concise information based on the provided hotel knowledge.\n\nYou have access to a powerful knowledge base tool called 'hotel_reservation_knowledge_base'.\n\nRules:\n- Always use the 'hotel_reservation_knowledge_base' tool to get factual information about the hotel's rooms, prices, amenities, reservation process, or any details related to booking a stay.\n- Provide answers based ONLY on the information retrieved from the tool.\n- If the information is not in the knowledge base, state that you don't have that specific information.\n- Respond directly to the guest's question; do not repeat it.\n- Never reference databases or internal tool names (like 'hotel_reservation_knowledge_base' or 'Pinecone') in your response.\n- Maintain a friendly, helpful, and consistent tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "d0f97cda-dc26-4c3e-841c-de82a65d0b8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        220
      ],
      "id": "62f3f255-1447-4a1f-93f4-026c7e6d9cb1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MByM7XKXzQ2dM47T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "8e2e5052-7f6c-42d9-868c-ee3f3efc396f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "hotel_reservation_knowledge_base",
        "toolDescription": "Use this tool to retrieve detailed information about the Burj Khalifa Residences & Hotel. This includes details about room types, pricing, amenities, check-in/check-out policies, cancellation policies, and the reservation process. This tool MUST be used for any guest question related to hotel bookings, features, or policies.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-8",
          "mode": "list",
          "cachedResultName": "n8n-8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        480,
        180
      ],
      "id": "5d3e0a5c-0581-4d29-85c4-f36c631325e1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bbYvstMPbNvK8yfa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        320
      ],
      "id": "a91ea89f-4f0b-43aa-8d51-4b89ecbb3f5d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "MByM7XKXzQ2dM47T",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "793e1b4d-ed57-4598-8cc8-fff9088392d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0accdfa99bc06be224840dbc09516d06fd547c4942ea95de3dc7e7c81625d4b4"
  },
  "id": "71yzxp1wZPvMXnLB",
  "tags": []
}